<!DOCTYPE html>
<html>
	<head>

	  <title><%= if content_for?(:title) then yield(:title) + ' | ' end %>Carter Customs</title>

	  <link href='https://fonts.googleapis.com/css?family=Rye|Abel' rel='stylesheet' type='text/css'>
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Carter Customs is a one stop shop for all your motorcycle needs in La Habra, CA." />
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>

		<%= render "layouts/nav" %>
		<%= render "shared/flash", flash: flash if flash %>
		<%= yield %>
		<%= render "layouts/footer" %>

		<%= javascript_include_tag 'instafeed.min.js' %>

		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-81635105-1', 'auto');
		  ga('send', 'pageview');
		</script>
	</body>
</html>
